
html, body, #root {
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  
}
.App {
  display: flex;
  flex-direction: column;
text-align: center;
font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-image: url('https://images.pexels.com/photos/1586951/pexels-photo-1586951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-repeat: inherit;
  padding: 0px !important;
  background-attachment: fixed;

}

.App-header{
  margin: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  font-weight: 500;
  margin: 0px 0px;
  width: 70%;
  font-style: bold;
  background-color: rgb(83,76,88,0.7) !important;
  color: black !important;
  font-size: 30px;
  padding:0px !important;
}


.timer {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.options button {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #007bff;
  background-color: #f0f8ff;
  cursor: pointer;
}

.options button.selected {
  background-color: #007bff;
  color: white;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.result {
  margin-top: 20px;
}


.quiz-player {
  background-color: rgb(151,149,149,0.9);
  padding: 44px;
  border: 10px solid beige;
  /* width: 80%; */
  display: block;
  /* justify-content: center; */
  /* align-items: center; */
  /* max-width: 100%; */
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(255, 51, 117, 0.8);
}